body{
    margin: 0;
    padding: 0;
    top: 0;
    background-color: rgb(191, 196, 156);
}

#corpo{
}

#buttonMenu{
    position: absolute;
    left: 0;
    background-color: rgb(2, 75, 2);
    margin-top: -33px;
    color: aliceblue;
    font-size: 24px;
}
#buttonMenu:hover{
    background-color: rgb(4, 132, 4);
}

#content{
    display: flex;
}

aside{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 70px);
    background-color: rgb(2, 75, 2);
    width: 30vw;
    height: 100vh;
    text-align: center;
    transition: transform 1s ease;

    transform: translateX(-100%);
}

aside > button{
    
    background-color: rgb(2, 75, 2);
    border: 0;
    padding: 13px;
    margin: 10px;
    /* grid-column: span 1; */
    border-top: 2px solid aliceblue;
    align-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

aside > button:hover{
    background-color: rgb(5, 150, 5);
}



main{
    text-align: center;
    align-content: center;
    height: 86vh;
    width: 100vw;
}





#testeButton{
    width: 200px;
    margin: 40px;
    background-color: rgb(2, 75, 2);
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}

#testeButton:hover{
    opacity: 0.5;
}

header{
    text-align: center;
    background-color: rgb(92, 141, 82);
    padding: 5px;
    grid-column: span 2;
}

footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 99.99%;
    background-color: rgb(92, 132, 92);
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: center;
}

.conteudo{
    width: 650px;
    height: 350px;
    padding: 24px;
    background-color: rgb(92, 132, 92);
    text-align: left;
    overflow-y: scroll;
}